.bundle
db/*.sqlite3
log/*
tmp/
*~
\#*
.#*
.DS_Store
config/database.yml
tmp/*
public/system/*
public/system
public/assets
*.sqlite3
public/stylesheets/compiled
todo.txt
git_remote_branch
crap
webrat.log
rails
public/sites
.\#*
